* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  font-family: "Roboto Mono", monospace;
}
#company-price{
    display: inline-block;
}
#show-stock-detail {
  border: 1px solid;
  margin: 90px;
  padding: 10px;
  border-radius: 10px;
  background-color: #b8b3b3;
  color: #393939;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 100,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  color: rgb(108, 108, 108);
  transform: rotate(90deg);
  position: relative;
  top: 5px;
  margin-left: 5px;
}
.upward {
  color: rgb(78, 223, 78);
  transform: rotate(0deg);
}
.downward {
  color: rgb(244, 88, 88);
  transform: rotate(180deg);
}
